body{
    background-color: rgb(150, 235, 207);
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#div1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-top: 25px;
}

#myChart{
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
#myChart2{
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
#myChart3{
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
#myChart4{
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
}